<body class="font-sans bg-gray-100">
  <header class="bg-blue-500 text-white py-10">
    <div class="container mx-auto text-center">
      <h1 class="text-4xl font-bold">Contact Manager</h1>
      <p class="mt-2">
        Your one-stop solution for managing contacts efficiently.
      </p>
    </div>
  </header>

  <section class="py-16">
    <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-8">
      <div class="text-center">
        <img
          src="../../assets/effortLessManagement.png"
          alt="Feature 1"
          class="mx-auto mb-4 rounded-full"
          style="height: 275px"
        />
        <h2 class="text-2xl font-bold mb-2">Effortless Contact Management</h2>
        <p>
          Organize and manage your contacts with ease. Add, edit, and delete
          contacts effortlessly.
        </p>
      </div>

      <div class="text-center">
        <img
          src="../../assets/stayconnected.png"
          alt="Feature 2"
          class="mx-auto mb-4 rounded-full"
        />
        <h2 class="text-2xl font-bold mb-2">Stay Connected</h2>
        <p>
          Keep in touch with your contacts. Easily view and update contact
          information as needed.
        </p>
      </div>

      <div class="text-center">
        <img
          src="../../assets/responsiveDesign.webp"
          alt="Feature 3"
          class="mx-auto mb-4 rounded-full"
        />
        <h2 class="text-2xl font-bold mb-2">Responsive Design</h2>
        <p>
          Access your contact manager from any device. Our application is
          designed to be responsive and user-friendly.
        </p>
      </div>
    </div>
  </section>

  <section class="bg-blue-500 text-white py-16">
    <div class="container mx-auto text-center">
      <h2 class="text-4xl font-bold mb-4">Ready to Get Started?</h2>
      <p class="text-lg mb-6">Sign up now and take control of your contacts!</p>
      <a
        class="btn bg-white text-blue-500 py-2 px-6 rounded-full"
        routerLink="register"
        >Sign Up</a
      >
    </div>
  </section>

  <footer class="bg-gray-800 text-white py-4">
    <div class="container mx-auto text-center">
      <p>&copy; 2024 Contact Manager. All rights reserved.</p>
    </div>
  </footer>
</body>
